@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.barra-principal {
  width: 100%;
  background-color: #ffddd1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.barra-principal img {
  display: flex;
  width: 100px;
}
.barra-principal a {
  text-decoration: none;
}
.barra-principal .navegacion-mobile {
  display: none;
}
.barra-principal .titulo {
  display: flex;
  font-family: "Concert One", cursive;
  font-weight: normal;
  color: #910000;
  font-size: 64px;
  background-color: #ffddd1;
  text-align: center;
  text-decoration: none;
}
.barra-principal .titulo span {
  font-family: "Concert One", cursive;
  font-weight: normal;
  color: #910000;
}
.barra-principal .titulo span:hover {
  color: #ff6060;
}
.barra-principal .acceso-iconos a i {
  color: #910000;
  font-size: 32px;
  padding: 10px;
  margin-right: 15px;
}
.barra-principal .acceso-iconos a i:hover {
  color: #ff6060;
}

@media (max-width: 768px) {
  .titulo {
    display: none;
  }
  .barra-principal img {
    margin-left: 50px;
  }
  .acceso-iconos a i {
    font-size: 25px;
  }
  .navegacion-mobile .fa-bars {
    display: flex;
    font-size: 25px;
    padding: 25px;
    color: #910000;
  }
  .navegacion-mobile {
    display: flex;
    position: relative;
    width: 100px;
  }
  .navegacion-mobile ul {
    text-decoration: none;
    list-style: none;
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    position: fixed;
    top: 50px;
    width: 200px;
    z-index: 3;
    background-color: rgba(145, 0, 0, 0.8470588235);
    border-radius: 5px;
  }
  .navegacion-mobile ul li a {
    text-decoration: none;
    color: #ffddd1;
    font-size: 16px;
    padding: 15px;
  }
  .navegacion-mobile ul:hover {
    display: block;
    transition: 0, 5;
  }
  .navegacion-mobile .fa-bars:hover + ul {
    display: block;
    transition: 0, 5;
  }
}
/*------ NAV DESKTOP --------------------------------------------------------------------- */
.menu-navegacion ul {
  width: 100%;
  height: 50px;
  list-style: none;
  display: flex;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px;
}
.menu-navegacion ul li a {
  display: block;
  text-decoration: none;
  color: #ff6060;
  font-size: 20px;
  font-weight: 600;
  padding: 15px;
}
.menu-navegacion ul li a:hover {
  color: #910000;
}

@media (max-width: 768px) {
  .menu-navegacion {
    display: none;
  }
}
.carousel-item img {
  width: 100%;
  height: 750px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .carousel-item img {
    height: auto;
  }
}

.boton {
  background-color: #ffddd1;
  color: #ff6060;
  font-weight: 600;
  width: 100px;
  height: 40px;
  margin: 10px;
  padding: 5px;
  border-radius: 15px;
  border: none;
  transition: 0.5s;
}
.boton:hover {
  width: 105px;
  height: 45px;
  color: #fd3838;
  background-color: #facebe;
}

.seccion-ver-mas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: auto;
}
@media (max-width: 768px) {
  .seccion-ver-mas {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    padding: 20px;
  }
}
.seccion-ver-mas .ver-mas img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
@media (max-width: 768px) {
  .seccion-ver-mas .ver-mas img {
    gap: 5px;
    width: 100%;
    flex-direction: column;
  }
}

.galeria .titulo-galeria {
  margin: 15px;
  margin-left: 10vw;
}
.galeria .ig-desktop {
  background-color: rgba(255, 221, 209, 0.4509803922);
  margin-bottom: 60px;
}
.galeria .ig-desktop img {
  object-fit: contain;
}
@media (max-width: 768px) {
  .galeria .ig-desktop img {
    object-fit: cover;
    padding: 20px;
    height: 600px;
  }
}

.pie-de-pagina {
  background-color: #ffddd1;
  width: 100%;
  color: #910000;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
@media (max-width: 768px) {
  .pie-de-pagina {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
}
.pie-de-pagina .info-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.pie-de-pagina .info-contacto a {
  text-decoration: none;
  color: #910000;
  font-weight: 1000;
}
.pie-de-pagina .redes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.pie-de-pagina .redes a {
  text-decoration: none;
}
.pie-de-pagina .redes a i {
  font-size: 32px;
  color: #910000;
  margin: 0px 10px;
  transition: 0.5s;
}
.pie-de-pagina .redes a i:hover {
  background-color: #facebe;
  font-size: 40px;
  border-radius: 10px;
  padding: 5px;
}
.pie-de-pagina .mapa {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-de-pagina .mapa iframe {
  width: 100%;
  height: 300px;
}

/* ICONOS FLOTANTES (VOLVER AL INICIO Y WHATSAPP) ----------------------------------------------- */
.flotantes {
  position: fixed;
  bottom: 80px;
  right: 15px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .flotantes {
    right: 30px;
  }
}
.flotantes i {
  font-size: 32px;
  color: #910000;
  margin: 20px;
}
.flotantes i:hover {
  font-size: 35px;
  color: #ff6060;
}

.ws {
  bottom: 30px;
}

.form-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  margin-bottom: 50px;
  border-radius: 15px;
  background-color: rgba(255, 221, 209, 0.4509803922);
}

.imagen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen img {
  width: 100%;
  height: 400px;
  padding: 40px;
  object-fit: cover;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  padding: 40px;
}

.tema {
  display: flex;
  align-items: center;
}

.tema input {
  margin: 25px 25px 25px 10px;
}

.datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 15px;
}

.datos input {
  background-color: rgba(255, 96, 96, 0.3098039216);
  border: none;
  border-radius: 7px;
  height: 25px;
  padding: 15px;
  margin-left: 15px;
}

.mensaje {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  padding: 20px;
  margin: 20px;
}

.mensaje h5 {
  font-weight: 600;
  margin: 0px;
}

.mensaje textarea {
  background-color: rgba(255, 96, 96, 0.3098039216);
  border: none;
  border-radius: 7px;
  width: 300px;
  height: 300px;
}

.info-extra a {
  text-decoration: none;
  color: #000;
}

/* PRODUCTOS RECOMENDADOS, MÁS VENDIDOS Y "BOTON" LISTA DE DESEOS -------------------------------------------------- */
.seccion-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productos {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  width: 28%;
  height: 550px;
  margin: 40px;
  padding: 20px;
  border: #ff6060 solid 3px;
}

.productos h4 {
  padding: 5px;
  margin: 5px;
}

.deseos {
  width: 95%;
  position: relative;
}

.deseos img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.deseos button {
  display: none;
  width: 100%;
  height: 50px;
  color: #3a3a3a;
  background-color: rgba(163, 163, 163, 0.8156862745);
  position: absolute;
  top: 300px;
  text-align: center;
  border: none;
}

.deseos button:hover {
  display: block;
}

.deseos img:hover + button {
  display: block;
}

@media (max-width: 768px) {
  .productos {
    width: 90%;
  }
}
/* -------------------------------------------------------- INICIO SESIÓN Y REGISTRO ----------------------------------------------------- */
.main-registro {
  background-color: #ffdbe0;
  display: flex;
}

.form {
  width: 900px;
  height: 500px;
  margin: 30px;
  padding: 20px;
  border: #ff6060 solid 3px;
  border-radius: 15px;
  background-color: #ffffff;
}

.form-sesion {
  margin: 60px;
}

.form-registro {
  margin-left: 30px;
}

.form input {
  border: #910000 solid 1px;
  width: 210px;
  height: 25px;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}

.titulo-form {
  color: #910000;
  padding: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.check {
  font-size: 13px;
}

/*# sourceMappingURL=style.css.map */
