@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.titulo, .compras .detalle .titulo-pages, .registrarse .form-registro .titulo-pages, .iniciar-sesion .form-inicio .titulo-pages, .contactanos .form-contacto .datos-contacto .titulo-pages, .titulo-pages {
  color: #ff6060;
  font-size: 40px;
  padding: 20px;
  margin: 0px;
}
@media (max-width: 576px) {
  .titulo, .compras .detalle .titulo-pages, .registrarse .form-registro .titulo-pages, .iniciar-sesion .form-inicio .titulo-pages, .contactanos .form-contacto .datos-contacto .titulo-pages, .titulo-pages {
    font-size: 28px;
  }
}

.fondo, .registrarse .form-registro, .iniciar-sesion .form-inicio, .contactanos .form-contacto {
  background-color: rgba(255, 221, 209, 0.4509803922);
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 20px;
}

@keyframes cambioColor {
  0% {
    color: #ff6060;
  }
  50% {
    color: #910000;
  }
  100% {
    color: #ff6060;
  }
}
.barra-principal {
  width: 100%;
  background-color: #ffddd1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 5px;
}
.barra-principal .navegacion-mobile {
  display: none;
}
@media (max-width: 768px) {
  .barra-principal .navegacion-mobile {
    display: flex;
    position: relative;
  }
  .barra-principal .navegacion-mobile .fa-bars {
    display: block;
    font-size: 25px;
    padding: 25px;
    color: #910000;
    transition: 0, 5;
  }
  .barra-principal .navegacion-mobile .fa-bars:hover + ul {
    display: block;
  }
  .barra-principal .navegacion-mobile ul {
    display: none;
    text-decoration: none;
    list-style: none;
    padding: 20px;
    position: fixed;
    top: 80px;
    width: 200px;
    height: 320px;
    z-index: 3;
    background-color: rgba(145, 0, 0, 0.8470588235);
    border-radius: 5px;
  }
  .barra-principal .navegacion-mobile ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: #ffddd1;
    font-size: 16px;
    padding: 15px;
    transition: 0, 5;
  }
  .barra-principal .navegacion-mobile ul:hover {
    display: block;
  }
}
.barra-principal img {
  display: flex;
  width: 70px;
}
.barra-principal a {
  text-decoration: none;
}
.barra-principal .link-titulo .titulo, .barra-principal .link-titulo .contactanos .form-contacto .datos-contacto .titulo-pages, .contactanos .form-contacto .datos-contacto .barra-principal .link-titulo .titulo-pages, .barra-principal .link-titulo .titulo-pages {
  display: flex;
  font-family: "Concert One", cursive;
  font-weight: normal;
  color: #ff6060;
  font-size: 50px;
  background-color: #ffddd1;
  text-align: center;
  text-decoration: none;
}
.barra-principal .link-titulo .titulo .titulo-dos, .barra-principal .link-titulo .titulo-pages .titulo-dos {
  font-family: "Concert One", cursive;
  font-weight: normal;
  color: #ff6060;
  animation: cambioColor 3s infinite;
}
@media (max-width: 768px) {
  .barra-principal .link-titulo {
    display: none;
  }
}
.barra-principal .acceso-iconos {
  padding: 10px;
}
.barra-principal .acceso-iconos a i {
  color: #910000;
  font-size: 32px;
  padding: 10px;
}
.barra-principal .acceso-iconos a i:hover {
  color: #ff6060;
}
@media (max-width: 768px) {
  .barra-principal .acceso-iconos a i {
    font-size: 25px;
    padding: 5px;
  }
}

.menu-navegacion ul {
  width: 100%;
  height: 50px;
  list-style: none;
  display: flex;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px;
}
@media (max-width: 768px) {
  .menu-navegacion ul {
    display: none;
  }
}
.menu-navegacion ul li a {
  display: block;
  text-decoration: none;
  color: #910000;
  font-size: 20px;
  font-weight: 600;
  padding: 15px;
}
.menu-navegacion ul li a:hover {
  color: #ff6060;
}

/* Carrousel ------------------------------------------------------------*/
.carousel-item img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .carousel-item img {
    height: 250px;
  }
}

/* PÁGINA PRODUCTOS, sección productos y botón "lo quiero" -------------------------------------------------- */
.titulo-pages {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.seccion-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.seccion-productos .productos {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  width: 28%;
  height: 650px;
  margin: 30px;
  padding: 15px;
  border: #ff6060 solid 1px;
}
@media (max-width: 992px) {
  .seccion-productos .productos {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .seccion-productos .productos {
    height: 450px;
    margin: 20px;
  }
}
.seccion-productos .productos .boton-lo-quiero {
  width: 95%;
  position: relative;
}
.seccion-productos .productos .boton-lo-quiero img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.seccion-productos .productos .boton-lo-quiero img:hover + button {
  display: block;
}
@media (max-width: 576px) {
  .seccion-productos .productos .boton-lo-quiero img {
    height: 270px;
  }
}
.seccion-productos .productos .boton-lo-quiero button {
  display: none;
  width: 100%;
  height: 50px;
  color: #383838;
  background-color: rgba(197, 197, 197, 0.8156862745);
  position: absolute;
  top: 400px;
  text-align: center;
  border: none;
}
.seccion-productos .productos .boton-lo-quiero button:hover {
  display: block;
}
@media (max-width: 576px) {
  .seccion-productos .productos .boton-lo-quiero button {
    top: 220px;
  }
}
.seccion-productos .productos h4 {
  font-size: 22px;
  padding: 5px;
  margin: 5px;
  color: #910000;
}
@media (max-width: 576px) {
  .seccion-productos .productos h4 {
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 5px;
  }
}
.seccion-productos .productos h5 {
  font-size: 20px;
  color: #910000;
}
@media (max-width: 576px) {
  .seccion-productos .productos h5 {
    font-size: 16px;
    margin: 0px;
  }
}
.seccion-productos .productos .boton {
  background-color: #ffddd1;
  color: #ff6060;
  font-weight: 600;
  width: 100px;
  height: 40px;
  margin: 10px;
  padding: 5px;
  border-radius: 15px;
  border: none;
  transition: 0.5s;
}
.seccion-productos .productos .boton:hover {
  width: 105px;
  height: 45px;
  color: #fd3838;
  background-color: #facebe;
}

/* Ver más ------------------------------------------------------------- */
.seccion-ver-mas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: auto;
}
@media (max-width: 768px) {
  .seccion-ver-mas {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    padding: 20px;
  }
}
.seccion-ver-mas .ver-mas img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
@media (max-width: 768px) {
  .seccion-ver-mas .ver-mas img {
    gap: 5px;
    width: 100%;
    flex-direction: column;
  }
}

/* Galería de instagram -----------------------------------------------------*/
.galeria .titulo-galeria {
  font-size: 40px;
  color: #910000;
  padding: 40px;
}
.galeria .ig-desktop {
  background-color: rgba(255, 221, 209, 0.4509803922);
  margin-bottom: 60px;
}
.galeria .ig-desktop img {
  object-fit: contain;
}
@media (max-width: 768px) {
  .galeria .ig-desktop img {
    object-fit: cover;
    padding: 20px;
    height: 600px;
  }
}
.galeria .carousel-control-next-icon {
  background-color: rgba(145, 0, 0, 0.8470588235);
  border-radius: 10px;
}
.galeria .carousel-control-prev-icon {
  background-color: rgba(145, 0, 0, 0.8470588235);
  border-radius: 10px;
}

/* Pie de página ------------------------------------------------------ */
.pie-de-pagina {
  background-color: #ffddd1;
  width: 100%;
  color: #910000;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
@media (max-width: 768px) {
  .pie-de-pagina {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
}
.pie-de-pagina .info-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.pie-de-pagina .info-contacto a {
  text-decoration: none;
  color: #910000;
  font-weight: 1000;
}
.pie-de-pagina .redes {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.pie-de-pagina .redes a {
  text-decoration: none;
}
.pie-de-pagina .redes a i {
  font-size: 32px;
  color: #910000;
  margin: 0px 10px;
  transition: 0.5s;
}
.pie-de-pagina .redes a i:hover {
  background-color: #facebe;
  font-size: 40px;
  border-radius: 10px;
  padding: 5px;
}
.pie-de-pagina .mapa {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-de-pagina .mapa iframe {
  width: 100%;
  height: 300px;
}

/* ICONOS FLOTANTES (VOLVER AL INICIO Y WHATSAPP) ----------------------------------------------- */
.flotantes {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(145, 0, 0, 0.9019607843);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .flotantes {
    width: 54px;
    height: 54px;
    bottom: 10px;
    right: 10px;
  }
}
.flotantes i {
  font-size: 38px;
  color: #ffddd1;
}
.flotantes i:hover {
  font-size: 40px;
}
@media (max-width: 768px) {
  .flotantes i {
    font-size: 30px;
  }
  .flotantes i:hover {
    font-size: 32px;
  }
}

/* PÁGINA CONTACTO --------------------------------------------------------- */
.contactanos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.contactanos .form-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 90%;
  flex-wrap: wrap;
}
.contactanos .form-contacto .imagen img {
  width: 100%;
  height: 600px;
  padding: 40px;
  object-fit: cover;
}
@media (max-width: 576px) {
  .contactanos .form-contacto .imagen img {
    align-items: center;
    height: 300px;
    padding: 20px;
  }
}
.contactanos .form-contacto .datos-contacto {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  color: #910000;
}
@media (max-width: 1200px) {
  .contactanos .form-contacto .datos-contacto {
    align-items: center;
  }
}
.contactanos .form-contacto .datos-contacto p {
  color: #910000;
}
.contactanos .form-contacto .datos-contacto .datos {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  gap: 20px;
}
.contactanos .form-contacto .datos-contacto .datos input {
  background-color: #ffddd1;
  border: none;
  outline: none;
  border-radius: 7px;
  height: 25px;
  padding: 15px;
  margin: 5px;
  width: 400px;
}
@media (max-width: 576px) {
  .contactanos .form-contacto .datos-contacto .datos input {
    align-items: center;
    width: 250px;
  }
}
.contactanos .form-contacto .datos-contacto h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
  margin: 0px;
}
.contactanos .form-contacto .datos-contacto .tema {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 576px) {
  .contactanos .form-contacto .datos-contacto .tema {
    align-items: center;
    flex-direction: column;
  }
}
.contactanos .form-contacto .datos-contacto .mensaje {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}
@media (max-width: 576px) {
  .contactanos .form-contacto .datos-contacto .mensaje {
    justify-content: start;
  }
}
.contactanos .form-contacto .datos-contacto .mensaje textarea {
  background-color: #ffddd1;
  border: none;
  outline: none;
  border-radius: 7px;
  height: 25px;
  padding: 15px;
  margin: 5px;
  width: 400px;
  height: 200px;
}
@media (max-width: 576px) {
  .contactanos .form-contacto .datos-contacto .mensaje textarea {
    width: 250px;
  }
}
.contactanos .form-contacto .datos-contacto .alineado-boton {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
}
.contactanos .form-contacto .datos-contacto .alineado-boton .boton {
  background-color: #ffddd1;
  color: #ff6060;
  font-weight: 600;
  width: 100px;
  height: 40px;
  margin: 10px;
  padding: 5px;
  border-radius: 15px;
  border: none;
  transition: 0.5s;
}
.contactanos .form-contacto .datos-contacto .alineado-boton .boton:hover {
  width: 105px;
  height: 45px;
  color: #fd3838;
  background-color: #facebe;
}
.contactanos .form-contacto .info-extra {
  padding: 20px;
}
.contactanos .form-contacto .info-extra p {
  color: #910000;
  margin: 0px;
}
.contactanos .form-contacto .info-extra a {
  text-decoration: none;
  color: #910000;
  font-weight: 600;
}

/* INICIAR SESIÓN ------------------------------------------------ */
.iniciar-sesion {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.iniciar-sesion .form-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: 600px;
}
@media (max-width: 992px) {
  .iniciar-sesion .form-inicio {
    width: 90%;
    height: auto;
    margin-bottom: 0px;
    margin: 20px;
  }
}
@media (max-width: 768px) {
  .iniciar-sesion .form-inicio .titulo-pages {
    text-align: center;
  }
}
.iniciar-sesion .form-inicio .form-datos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin: 20px;
  color: #910000;
}
.iniciar-sesion .form-inicio .form-datos .datos {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.iniciar-sesion .form-inicio .form-datos .datos input {
  background-color: #ffddd1;
  border: none;
  outline: none;
  border-radius: 7px;
  height: 25px;
  padding: 15px;
  margin: 5px;
  width: 250px;
}
@media (max-width: 992px) {
  .iniciar-sesion .form-inicio .form-datos .datos {
    flex-direction: column;
  }
}
.iniciar-sesion .form-inicio .boton {
  background-color: #ffddd1;
  color: #ff6060;
  font-weight: 600;
  width: 100px;
  height: 40px;
  margin: 10px;
  padding: 5px;
  border-radius: 15px;
  border: none;
  transition: 0.5s;
}
.iniciar-sesion .form-inicio .boton:hover {
  width: 105px;
  height: 45px;
  color: #fd3838;
  background-color: #facebe;
}
.iniciar-sesion .form-inicio .check-recuerdame {
  color: #910000;
  margin-bottom: 30px;
}
.iniciar-sesion .form-inicio .check-recuerdame input {
  margin: 10px;
}
.iniciar-sesion .form-inicio .olvido-registro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.iniciar-sesion .form-inicio .olvido-registro a {
  text-decoration: none;
  color: #910000;
}
.iniciar-sesion .form-inicio .olvido-registro .bold {
  font-weight: 600;
  color: #ff6060;
}

/* REGISTRARSE --------------------------------------------------- */
.registrarse {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.registrarse .form-registro {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 768px) {
  .registrarse .form-registro {
    margin: 10px 0px;
  }
}
.registrarse .form-registro .titulo-pages {
  margin: 10px;
}
.registrarse .form-registro .datos-registro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
  padding: 30px;
  color: #910000;
}
.registrarse .form-registro .datos-registro input {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  background-color: #ffddd1;
  border: none;
  outline: none;
  border-radius: 7px;
  height: 25px;
  padding: 15px;
  margin: 5px;
  width: 300px;
}
@media (max-width: 576px) {
  .registrarse .form-registro .datos-registro input {
    background-color: #ffddd1;
    border: none;
    outline: none;
    border-radius: 7px;
    height: 25px;
    padding: 15px;
    margin: 5px;
    width: 250px;
  }
}
.registrarse .form-registro .datos-registro .tarjeta-datos-acceso {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  gap: 20px;
}
.registrarse .form-registro .datos-registro .tarjeta-datos-acceso .titulo-datos {
  font-size: 20px;
  font-weight: 600;
}
.registrarse .form-registro .datos-registro .tarjeta-datos-acceso .datos-acceso {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  gap: 20px;
}
.registrarse .form-registro .terminos-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  gap: 10px;
  color: #910000;
}
.registrarse .form-registro .boton {
  background-color: #ffddd1;
  color: #ff6060;
  font-weight: 600;
  width: 150px;
  height: 40px;
  margin: 10px;
  padding: 5px;
  border-radius: 15px;
  border: none;
  transition: 0.5s;
}
.registrarse .form-registro .boton:hover {
  width: 155px;
  height: 45px;
  color: #fd3838;
  background-color: #facebe;
}

/* Bolsa de compras ------------------------------------------------------- */
.compras {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.compras .detalle {
  width: 90%;
  height: 90%;
}
.compras .detalle .titulo-pages {
  margin-top: 20px;
}
.compras .detalle .no-seleccionado {
  display: none;
  padding: 20px;
  color: #910000;
}
.compras .detalle .carrito-productos .productos-agregados {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  border-bottom: #910000 1px solid;
}
.compras .detalle .carrito-productos .productos-agregados small {
  color: #ff6060;
}
.compras .detalle .carrito-productos .productos-agregados h4 {
  font-size: 20px;
  color: #910000;
}
.compras .detalle .carrito-productos .productos-agregados .detalle-producto {
  display: flex;
  align-items: center;
}
.compras .detalle .carrito-productos .productos-agregados .detalle-producto img {
  width: 150px;
  margin: 10px;
  padding: 15px;
}
.compras .detalle .carrito-productos .productos-agregados .eliminar-producto button {
  background-color: #ffddd1;
  color: #ff6060;
  font-weight: 600;
  width: 50px;
  height: 40px;
  margin: 10px;
  padding: 5px;
  border-radius: 15px;
  border: none;
  transition: 0.5s;
}
.compras .detalle .carrito-productos .productos-agregados .eliminar-producto button:hover {
  width: 55px;
  height: 45px;
  color: #fd3838;
  background-color: #facebe;
}
.compras .detalle .carrito-acciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.compras .detalle .carrito-acciones .accion-vaciar button {
  background-color: #ffddd1;
  color: #ff6060;
  font-weight: 600;
  width: 150px;
  height: 40px;
  margin: 10px;
  padding: 5px;
  border-radius: 15px;
  border: none;
  transition: 0.5s;
  font-weight: normal;
  margin: 20px;
  background-color: #ffefe9;
}
.compras .detalle .carrito-acciones .accion-vaciar button:hover {
  width: 155px;
  height: 45px;
  color: #fd3838;
  background-color: #facebe;
}
.compras .detalle .carrito-acciones .accion-vaciar button:hover {
  background-color: rgba(158, 0, 0, 0.6980392157);
  color: white;
}
.compras .detalle .carrito-acciones .accion-comprar {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 20px;
}
.compras .detalle .carrito-acciones .accion-comprar .total-compra {
  display: flex;
  gap: 15px;
  border-bottom: 1px solid #910000;
}
.compras .detalle .carrito-acciones .accion-comprar .total-compra p {
  font-size: 24px;
  margin: 0px;
  color: #910000;
}
.compras .detalle .carrito-acciones .accion-comprar button {
  background-color: #ffddd1;
  color: #ff6060;
  font-weight: 600;
  width: 150px;
  height: 40px;
  margin: 10px;
  padding: 5px;
  border-radius: 15px;
  border: none;
  transition: 0.5s;
  font-weight: normal;
  margin: 20px;
  background-color: #ffefe9;
}
.compras .detalle .carrito-acciones .accion-comprar button:hover {
  width: 155px;
  height: 45px;
  color: #fd3838;
  background-color: #facebe;
}
.compras .detalle .carrito-acciones .accion-comprar button:hover {
  background-color: rgba(158, 0, 0, 0.6980392157);
  color: white;
}
.compras .detalle .seguir-comprando {
  display: flex;
}
.compras .detalle .seguir-comprando a {
  text-decoration: none;
  background-color: #ffefe9;
  color: #ff6060;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s;
}
.compras .detalle .seguir-comprando a:hover {
  color: #fd3838;
  background-color: #ffddd1;
}
.compras .detalle .mensaje-final {
  display: none;
  flex-direction: column;
  margin: 20px;
  margin-bottom: 100px;
}
.compras .detalle .mensaje-final .compra-realizada {
  color: #910000;
  font-size: 22px;
}

/*# sourceMappingURL=style.css.map */
