@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  }
  
 /* header */

/* BARRA PRINCIPAL ---------------------------------------------------------------------- */

.barra-principal{
  width: 100%;
  background-color: #ffddd1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
 }
 
.vacio{
  width: 70px;
}


.navegacion-mobile{
  display: none;
}
.barra-principal img{
  display: none;
  width: 70px;
  margin-left: 10px;
}


.barra-principal a{
  text-decoration: none;
}

.titulo{
  font-family: 'Concert One', cursive;
  font-weight: normal;
  color: #910000;
  font-size: 64px;
  background-color: #ffddd1;
  text-align: center;
  text-decoration: none;
}
.titulo span{
  font-family: 'Concert One', cursive;
  font-weight: normal;
  color: #910000;
}
.titulo span:hover{
  color: #ff6060;
}


.acceso-iconos a i{
  color: #910000;
  font-size: 32px;
  margin: 10px;
}
.acceso-iconos a i:hover{
  color: #ff6060;
}

@media(max-width:768px){

  .titulo{
   display: none;
  }
  .vacio{
    display: none;
  }

  .barra-principal img{
    display:flex;
  }

  .acceso-iconos a i{
    font-size: 25px;
  }

  .navegacion-mobile .fa-bars{
    display: flex;
    font-size: 25px;
    margin: 5px;
    color: #910000;
  }

  .navegacion-mobile{
    display: flex;
    position: relative;
    width: 100px;
  }
  
  .navegacion-mobile ul{
    text-decoration: none;
    list-style: none;
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    position: fixed;
    top: 80px;
    width: 200px;
    z-index: 3;
    background-color: #910000;
    border-radius: 5px;
  }
  
  .navegacion-mobile ul li a{
    text-decoration: none;
    color: #ff6060;
    font-size: 16px;
    padding: 15px;
  }

 
  .navegacion-mobile .fa-bars:hover{
    display: block;
  }

  .navegacion-mobile .fa-bars:hover + ul{
    display: block;
  }


  


}

/* MENÚ DE NAVEGACIÓN--------------------------------------------------------------------- */

.menu-navegacion ul{
  width: 100%;
  height: 50px;
  list-style: none;
  display: flex;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px;
}

.menu-navegacion ul li a{
  display: block;
  text-decoration: none;
  color: #ff6060;
  font-size: 20px;
  font-weight:600;
  padding: 15px;
}

.menu-navegacion ul li a:hover{
  color: #910000;
}

@media(max-width:768px){
  .menu-navegacion{
    display: none;
  }
}

/* MAIN */

/* slider --------------------------------------------------------------------------------- */

.carousel-item img{
  width: 100%;
  height: 750px;
  object-fit: cover;
}

@media(max-width: 768px){
  .carousel-item img{
    height: auto;
  }
}


/* BOTON --------------------------------------------------------------------------------- */

.boton {
  background-color: #ffddd1;;
  color: #ff6060;
  font-weight: 600;
  width: 100px;
  height: 40px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 15px;
  border: none;
}

.boton:hover{
  width: 102px;
  height: 42px;
  color: #fd3838;
  background-color: #facebe;
}



/* PRODUCTOS RECOMENDADOS, MÁS VENDIDOS Y "BOTON" LISTA DE DESEOS -------------------------------------------------- */

.seccion-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productos{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
  height: 550px;
  margin: 50px;
  padding: 20px;
  border:#ff6060 solid 3px;
}


.productos h4{
  padding: 5px;
  margin: 5px;
}

.deseos{
  width: 350px;
  height: 350px;
  position: relative;
} 

.deseos img{
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.deseos button{
  display: none;
  width: 350px;
  height: 50px;
  color: #3a3a3a;
  background-color: #a3a3a3d0;
  position: absolute;
  top: 300px;
  text-align: center;
  border: none;
}

.deseos button:hover{
  display: block;
  transition: 0.5s;
}

.deseos img:hover + button{
  display: block;
  transition: 0.5s;
}


/* VER MÁS -------------------------------------------------------------------------------- */


.seccion-ver-mas {
  display: flex;
  flex-wrap: wrap;
}

.ver-mas img{
  width: 50%;
  height: auto;
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media(max-width:768px){
  .ver-mas{
    width: 100%;
    height: auto;
    margin: 0px;
  }
}


  
/* GALERÍA INSTAGRAM --------------------------------------------------------------------- */


.galeria img{
  width: 503px;
  height: 600px;
  object-fit: cover;
  margin-top: 50px;
}


/* FOOTER */

.pie-de-pagina {
  background-color: #ffddd1;
  width: 100%;
  height: 350px;
  color: #910000;
  display: flex;
  padding: 20px;
}

.info-compras{
  margin-top: 80px;
  margin-left: 80px;
}
.info-contacto{
  margin: 80px;
}

.info-contacto i {
  font-size: 32px;
  margin-top: 20px;
  margin-left: 40px;
  color: #910000;
}

.info-contacto a{ 
  text-decoration: none;
  color: #910000;
  font-weight: 900;
}

.mapa iframe{
  width: 380px;
  height: 300px;
}

/* ICONOS FLOTANTES (VOLVER AL INICIO Y WHATSAPP) ----------------------------------------------- */

/* .flotantes{
  position: fixed;
  bottom: 80px;
  right: 15px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ws{
  bottom: 30px;
}

.flotantes i {
  font-size: 32px;
  color: #910000;
  margin: 20px;
}
 
@media(max-width:768px){
  .flotantes{
    right: 30px;
  }
} */


/* -------------------------------------------------------- INICIO SESIÓN Y REGISTRO ----------------------------------------------------- */


.main-registro {
  background-color: #ffdbe0 ; 
  display: flex;
}

.form {
  width: 900px;
  height: 500px;
  margin: 30px;
  padding: 20px;
  border: #f55980 solid 3px;
  border-radius: 15px;
  background-color: #ffffff;
}

.form-sesion {
  margin: 60px;

}

.form-registro {
  margin-left: 30px;
}

.form input {
  border: #910000 solid 1px;
  width: 210px;
  height: 25px;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}

.titulo-form {
  color: #910000;
  padding: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.check {
  font-size: 13px;
}




/* --------------------------------------------------------------- CONTACTO -------------------------------------------------------------------- */



.form-contact {
  width: 1400px;
  height: 500px;
  margin: 30px;
  padding: 20px;
  border: #f55980 solid 3px;
  border-radius: 15px;
  background-color: #ffffff;
  display: flex;
}

.contact {
  width: 500px;
  height: 500px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
}

.contact h2{
  margin-bottom: 20px;
}

.contact h4 {
  margin-top: 20px;
}

.contact input {
  border: #910000 solid 1px;
  border-radius: 10px;
  height: 25px;
  padding: 10px;
  margin: 10px;
}

.form-contact img {
  width: 400px;
  height: 400px; 
  margin: 20px;
}

.mensaje textarea {
  border: #910000 solid 1px;
  border-radius: 10px;
  height: 300px;
  padding: 10px;
  margin-top: 70px;
}



