/* Bolsa de compras ------------------------------------------------------- */

.compras {
    @include flex(center, center, column);
    margin-bottom: 50px;

    .titulo-pages {
        @extend .titulo;
        margin: 20px 0px;
    }

    .detalle {
        display: flex;
        justify-content: space-between;
        width: 90%;
        height: 90%;

        .listado-productos {
            width: 75%;

            .titulo-producto {
                display: flex;
                text-decoration: none;
                list-style: none;
                justify-content: space-around;
                background-color: #ffddd150;
                margin: 5px;
                padding: 10px;

                li {
                    color: $rosa;
                    font-size: 24px;
                    font-weight: 600;
                }
            }

            .no-seleccionado {
                margin: 20px;
                margin-bottom: 100px;
                color: $vino;
                font-size: 22px;
            }

            .carrito-productos {
                .productos-agregados {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 20px;
                    border-bottom: $vino 1px solid;

                    h4 {
                        font-size: 20px;
                        color: $vino;
                    }

                    .detalle-producto {
                        display: flex;
                        align-items: center;
                        width: 350px;

                        img {
                            width: 150px;
                            margin: 10px;
                            padding: 15px;
                        }

                    }

                    .eliminar-producto {
                        button {
                            @include boton (50px, 55px);
                        }
                    }
                }
            }

            .seguir-comprando {
                display: flex;

                a {
                    text-decoration: none;
                    background-color: #ffefe9;
                    color: $rosa;
                    margin: 20px;
                    padding: 10px;
                    border-radius: 10px;
                    transition: 0.5s;
                    border: #9e000018 1px solid;

                    &:hover {
                        color: #fd3838;
                        background-color: $bg-color;
                    }
                }
            }
        }


        .resumen {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 400PX;

            .opciones {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #ffddd173;
                border-radius: 5px;
                padding: 30px;
                gap: 20px;
                position: sticky;
                top: 50px;
                

                .accion-comprar {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    align-items: center;

                    .total-compra {
                        display: flex;
                        border-bottom: 1px solid $rosa;

                        p {
                            font-size: 24px;
                            margin: 5px;
                            color: $vino;
                        }
                    }
                    .extras-compra {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;

                        p {
                            font-size: 20px;
                            margin: 5px;
                            color: $vino;
                        }
                        .subtotal-compra{
                            display: flex;
                        }
                        .envio-compra{
                            display: flex;
                            flex-direction: column;
                            .envio-costo{
                                display: flex;
                            }
                            small{
                                color: $rosa;
                                font-weight: 600
                                
                            }
                        }
                    }
                    button {
                        @include boton (150px, 155px);
                        font-weight: normal;
                        margin: 20px;
                        background-color: #ffefe9;
                        border: #9e000018 1px solid;

                        &:hover {
                            background-color: #9e0000b2;
                            color: white;
                        }
                    }
                }

            }

            .titulo-resumen {
                color: $rosa;
                font-weight: 600;
            }

        }

        .deshabilitado {
            display: none;
        }
    }
}