.boton {
    background-color: $bg-color;;
    color: $rosa;
    font-weight: 600;
    width: 100px;
    height: 40px;
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
    border: none;
    transition: 0.5s;
    &:hover{
    width: 105px;
    height: 45px;
    color: #fd3838;
    background-color: #facebe;
  }
}