.contactanos{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .form-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ffddd173;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 20px;
    width: 90%;
    .imagen{
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: 500px; 
        padding: 40px;
        object-fit: cover;
      }
    }
    .datos-contact {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      @media(max-width:1200px){
        align-items: center;
      }
      gap: 30px ;
      padding: 40px;
      .titulo-pages{
        @extend .titulo-pages;
      }
      p{
        color: $vino;
      }
      .datos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;
        color: $vino;
        input {
          background-color: $bg-color;
          border: none;
          border-radius: 7px;
          height: 25px;
          padding: 15px;
          margin-left: 15px;
          outline: none;
        }
      }
    }
    .mensaje{
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      @media(max-width:1200px){
        align-items: center;
      }
      padding: 40px;
      color: $vino;
      h5{
        font-weight: 600;
        margin: 0px;
      }
      .tema{
        display: flex;
        gap: 10px;
      }
      textarea {
        background-color: $bg-color;
        border: none;
        border-radius: 7px;
        width: 300px;
        height: 200px;
      }
    }
    .info-extra{
      padding: 20px;
      p{
        color: $vino;
        margin: 0px;
      }
      a{
        text-decoration: none;
        color: $vino;
        font-weight: 600;
      }
    }  
  } 
}