.titulo{
    color: $rosa;
    font-size: 40px;
    padding: 20px;
    margin: 0px;
    @media (max-width:576px){
        font-size: 28px;
    }
}

.fondo{
    background-color: $bg-traslucido;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 20px;
}