// Barra ppal y navegacion

@keyframes cambioColor {
  0%   { color: $rosa; }
  50%  { color: $vino; }
  100% { color: $rosa; }
}

.barra-principal{
  width: 100%;
  background-color: $bg-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;

  .navegacion-mobile{
    display: none;

    @media(max-width:768px){
      display: flex;
      position: relative;
      .fa-bars{
        display: block;
        font-size: 25px;
        padding: 25px;
        color: $vino;
        transition: 0,5;
        &:hover + ul{
          display: block; 
        }
      }
      ul{
        display: none;
        text-decoration: none;
        list-style: none;
        padding: 20px;
        position: fixed;
        top: 80px;
        width: 200px;
        height: 320px;
        z-index: 3;
        background-color: #910000d8;
        border-radius: 5px;
        li a{
          @include flex (center, center, column);
          text-decoration: none;
          color: #ffddd1;
          font-size: 16px;
          padding: 15px;
          transition: 0,5;
        }
        &:hover{
          display: block;
        }
      }
    }
  }

  img{
    display: flex;
    width: 100px;
    @media(max-width:768px){
      margin-left: 50px;
    }
  }

  a{
    text-decoration: none;
  }
  
  .titulo{
    display: flex;
    font-family: 'Concert One', cursive;
    font-weight: normal;
    color: $rosa;
    font-size: 64px;
    background-color: $bg-color;
    text-align: center;
    text-decoration: none;
    .titulo-dos{
      font-family: 'Concert One', cursive;
      font-weight: normal;
      color: $rosa;
      animation: cambioColor 3s infinite;
    }
    
    @media(max-width:768px){
      display: none;
    }
  }

  .acceso-iconos a i{
    color: $vino;
    font-size: 32px;
    padding: 10px;
    margin-right: 15px;
    &:hover{
      color: $rosa;
    }
    @media(max-width:768px){
      font-size: 25px;
    }
  }
}

.menu-navegacion ul{
  width: 100%;
  height: 50px;
  list-style: none;
  display: flex;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px;
  @media(max-width:768px){
    display: none;
  }
  li a{
    display: block;
    text-decoration: none;
    color: $vino;
    font-size: 20px;
    font-weight:600;
    padding: 15px;
    &:hover{
      color: $rosa;
    }
  }
}

    
