/* INICIAR SESIÓN ------------------------------------------------ */

.iniciar-sesion{
  width: 100%;
  @include flex(center, center, row);
  .form-inicio {
    @include flex(center, center, column);
    @extend .fondo;
    width: 40%;
    height: 600px;
    @media(max-width:992px){
      width: 90%;
      height: auto;
      margin-bottom: 0px;
      margin: 20px;
    }
    .titulo-pages{
      @extend .titulo;
      @media(max-width:768px){
        text-align: center;
      }
    }
    .form-datos{
      @include flex (center, center, column);
      gap: 15px;
      margin: 20px;
      color: $vino;
      .datos{
        @include flex (center, start, column);
        input {
          @include input (250px);
        }
        @media(max-width:992px){
          flex-direction: column;
        }
      } 
    }
    .boton{
      @include boton (100px, 105px);
    }     
  

    .check-recuerdame{
      color: $vino;
      margin-bottom: 30px;
      input{
        margin: 10px;
      }
    }
    .olvido-registro{
      @include flex (center, center, column);
      gap: 10px;
      padding: 20px;
      a{
        text-decoration: none;
        color: $vino;
      }
      .bold{
        font-weight: 600;
        color: $rosa;
      }
    }
  }
}

  