/* REGISTRARSE --------------------------------------------------- */

.registrarse{
    width: 100%;
    @include flex (center, center, row);
    .form-registro{
        @media (max-width:768px){
            margin:10px 0px;
        }
        width: 90%;
        @include flex (center, center, column);
        @extend .fondo;
        .titulo-pages{
            @extend .titulo;
            margin: 10px
        }
        .datos-registro{
            @include flex (center, center, row);
            flex-wrap: wrap;
            gap: 100px;
            padding: 30px;
            color: $vino;
            input{
                @include flex (center, stretch, row);
                @include input (300px);
                @media (max-width: 576px){
                    @include input (250px);
                }
            }
            .tarjeta-datos-acceso{
                @include flex (center, stretch, column);
                gap: 20px;
                .titulo-datos{
                    font-size: 20px;
                    font-weight: 600;
                }
                .datos-acceso{
                    @include flex (center, end, column);
                    gap: 20px;
                }
            }
            
        }
        .terminos-info{
            @include flex (center, center, column);
            padding: 30px;
            gap: 10px;
            color: $vino;
        }
        .boton{
            @include boton (150px, 155px);
        }         
    }
}
